<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page</title>
</head>
<body>
    <% for(let i=0; i < 6; i++) {%>
    <h1 style="color: green;"> Título do PDF </h1>
    <hr>
    <p> Conteúdo do PDF </p>
    <hr>
    <p> Conteúdo do PDF </p>
    <hr>
    <p> <%= conteudo %></p>
    <p> <%= conteudo %></p>
    <% } %>
    <img src="https://i.pinimg.com/564x/52/74/0f/52740f7a75720a4576d1bd0613e3a3a1.jpg" />
</body>
</html>